/* 双击编辑框样式 */
.x6-node-tool-editor {
  width: 120px;
  height: 40px;
  line-height: 40px;
}
.x6-edge-tool-editor {
  width: auto;
  height: auto;
}

.card {
  fill: #eeeeee;
  stroke: #eeeeee;
}
.card.root-node {
  fill: #b6002a;
  stroke: #b6002a;
}

/* 选择框颜色 */
.x6-widget-selection-box {
  border-color: #b6002a;
  border-style: solid;
}

.org-chart-graph {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.org-chart-graph.graph-focused {
  border-color: #000;
}
